.button {

    &:link {
        border-radius: 10rem;
        display: inline-block;
        font-size: 1.6rem;
        padding: 1.5rem 3rem 1.2rem;
        text-decoration: none;
        transition: all .2s;
    }

    &:active {
        box-shadow: 0 .5rem 1rem $black-opacity;
        transform: translateY(-.5rem);
    }

    &--white {
        background-color: $white;
        color: $aditional-color;

        &--bordered {

            background-color: transparent;
            border: .5rem solid $white;
            color: $white;
        }
    }

    &--animated {
        animation: moveFromBottom .3s ease-in .2s;
        animation-fill-mode: backwards;
    }
}