.container {
    max-width: 140rem;
    margin: 0 auto;
}

.row {
    @include clearfix;

    [class*='col-'] {
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-width;
        }
    }

    @for $i from 1 through $cols {
        .col-1-#{$i} {
            width: calc((100% - (#{$gutter-width} * (#{$i} - 1))) / #{$i});
        }
    }
}