.header {
    background-image: linear-gradient(to right bottom, $primary-opacity-color, $secondary-opacity-color), url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    color: $white;
    height: 60vh;
    position: relative;

    &__logo {
        color: $secondary-color;
        left: 4rem;
        position: absolute;
        top: 4rem;

        &__img {
            height: 10rem;
        }
    }

    &__text {
        left: 50%;
        position: absolute;
        text-align: center;
        top: 40%;
        transform: translate(-50%, -50%);

        &__heading {
            margin-bottom: 4rem;
            text-transform: lowercase;
        }
    }
}

.about {

    &__feature {
        padding: 2rem;

        &__icon {
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(to right, $primary-color, $secondary-color);
            border-bottom: .4rem solid $primary-color;
            color: transparent;
            display: inline-block;
            font-size: 6rem;
            margin-bottom: 3rem;
        }

        &__title {
            font-size: 1.8rem;
            margin-bottom: 2rem;
            text-transform: uppercase;
        }

        &__description {
            font-size: 1.6rem;
        }
    }
}