:root {
  --eye-frame-open: 3em -9em var(--dino);
  --eye-frame-closed: 0 0 0 0 var(--dino);

  --mouth-frame-open: 6em -4em var(--dino), 7em -4em var(--dino), 8em -4em var(--dino);
  --mouth-frame-closed: 5em -3em var(--dino), 6em -3em var(--dino), 7em -3em var(--dino), 8em -3em var(--dino);

  --ground-frame-base: -12em 6em var(--dino), -11em 6em var(--dino), -10em 6em var(--dino), -9em 6em var(--dino), -8em 6em var(--dino), -7em 6em var(--dino), -6em 6em var(--dino), 
    4em 6em var(--dino), 5em 6em var(--dino), 6em 6em var(--dino), 7em 6em var(--dino), 8em 6em var(--dino), 9em 6em var(--dino), 10em 6em var(--dino), 11em 6em var(--dino), 12em 6em var(--dino);
  --ground-frame-0-detail: 8em 8em var(--dino), 9em 8em var(--dino), 10em 8em var(--dino), -7em 9em var(--dino), -6em 9em var(--dino), 6em 10em var(--dino), 7em 10em var(--dino), 
    -10em 11em var(--dino), -9em 11em var(--dino);
  --ground-frame-15-detail: 4em 8em var(--dino), 5em 8em var(--dino), 6em 8em var(--dino), -12em 9em var(--dino), -11em 9em var(--dino), 2em 10em var(--dino), 3em 10em var(--dino), 
    10em 11em var(--dino), 11em 11em var(--dino);
  --ground-frame-30-detail: 0em 8em var(--dino), 1em 8em var(--dino), 2em 8em var(--dino), 8em 9em var(--dino), 9em 9em var(--dino), -2em 10em var(--dino), -1em 10em var(--dino), 
    6em 11em var(--dino), 7em 11em var(--dino);
  --ground-frame-45-detail: -4em 8em var(--dino), -3em 8em var(--dino), -2em 8em var(--dino), 4em 9em var(--dino), 5em 9em var(--dino), -6em 10em var(--dino), -5em 10em var(--dino), 
    2em 11em var(--dino), 3em 11em var(--dino);
  --ground-frame-60-detail: -8em 8em var(--dino), -7em 8em var(--dino), -6em 8em var(--dino), 0em 9em var(--dino), 1em 9em var(--dino), -10em 10em var(--dino), -9em 10em var(--dino), 
    -2em 11em var(--dino), -1em 11em var(--dino);
  --ground-frame-75-detail: -12em 8em var(--dino), -11em 8em var(--dino), -10em 8em var(--dino), -4em 9em var(--dino), -3em 9em var(--dino), 10em 10em var(--dino), 11em 10em var(--dino), 
    -6em 11em var(--dino), -5em 11em var(--dino);

  --dino-frame-base:
    -1em -1em var(--dino), -1em -2em var(--dino), -1em -3em var(--dino), -1em 0em var(--dino), -1em 1em var(--dino), -1em 2em var(--dino), -1em 3em var(--dino), -1em 4em var(--dino),
    -1em 5em var(--dino), -2em -1em var(--dino), -2em -2em var(--dino), -2em -3em var(--dino), -2em 0em var(--dino), -2em 1em var(--dino), -2em 2em var(--dino), -2em 3em var(--dino),
    -2em 4em var(--dino), -2em 5em var(--dino), -3em -1em var(--dino), -3em 0em var(--dino), -3em 1em var(--dino), -3em 2em var(--dino), -3em 3em var(--dino), -3em 4em var(--dino),
    -3em 5em var(--dino), -3em 6em var(--dino), -3em 7em var(--dino), -4em 0em var(--dino), -4em 1em var(--dino), -4em 2em var(--dino), -4em 3em var(--dino), -4em 4em var(--dino),
    -4em 5em var(--dino), -4em 6em var(--dino), -5em 1em var(--dino), -5em 2em var(--dino), -5em 3em var(--dino), -5em 4em var(--dino), -5em 5em var(--dino), -6em 1em var(--dino),
    -6em 2em var(--dino), -6em 3em var(--dino), -6em 4em var(--dino), -7em 0em var(--dino), -7em 1em var(--dino), -7em 2em var(--dino), -7em 3em var(--dino), -8em -1em var(--dino),
    -8em 0em var(--dino), -8em 1em var(--dino), -8em 2em var(--dino), -9em -1em var(--dino), -9em -2em var(--dino), -9em -3em var(--dino), -9em 0em var(--dino), -9em 1em var(--dino),
    0em -1em var(--dino), 0em -2em var(--dino), 0em -3em var(--dino), 0em -4em var(--dino), 0em 0em var(--dino), 0em 1em var(--dino), 0em 2em var(--dino), 0em 3em var(--dino),
    0em 4em var(--dino), 0em 5em var(--dino), 10em -6em var(--dino), 10em -7em var(--dino), 10em -8em var(--dino), 10em -9em var(--dino), 1em -1em var(--dino), 1em -2em var(--dino),
    1em -3em var(--dino), 1em -4em var(--dino), 1em -5em var(--dino), 1em -6em var(--dino), 1em -7em var(--dino), 1em -8em var(--dino), 1em -9em var(--dino), 1em 0em var(--dino),
    1em 1em var(--dino), 1em 2em var(--dino), 1em 3em var(--dino), 1em 4em var(--dino), 1em 5em var(--dino), 1em 6em var(--dino), 2em -10em var(--dino), 2em -1em var(--dino),
    2em -2em var(--dino), 2em -3em var(--dino), 2em -4em var(--dino), 2em -5em var(--dino), 2em -6em var(--dino), 2em -7em var(--dino), 2em -8em var(--dino), 2em -9em var(--dino),
    2em 0em var(--dino), 2em 1em var(--dino), 2em 2em var(--dino), 2em 3em var(--dino), 2em 4em var(--dino), 3em -10em var(--dino), 3em -1em var(--dino), 3em -2em var(--dino),
    3em -3em var(--dino), 3em -4em var(--dino), 3em -5em var(--dino), 3em -6em var(--dino), 3em -7em var(--dino), 3em -8em var(--dino), 3em 0em var(--dino), 3em 1em var(--dino),
    3em 2em var(--dino), 3em 3em var(--dino), 4em -10em var(--dino), 4em -1em var(--dino), 4em -2em var(--dino), 4em -3em var(--dino), 4em -4em var(--dino), 4em -5em var(--dino),
    4em -6em var(--dino), 4em -7em var(--dino), 4em -8em var(--dino), 4em -9em var(--dino), 4em 0em var(--dino), 4em 1em var(--dino), 4em 2em var(--dino), 5em -10em var(--dino),
    5em -4em var(--dino), 5em -5em var(--dino), 5em -6em var(--dino), 5em -7em var(--dino), 5em -8em var(--dino), 5em -9em var(--dino), 6em -10em var(--dino), 6em -6em var(--dino),
    6em -7em var(--dino), 6em -8em var(--dino), 6em -9em var(--dino), 6em 0em var(--dino), 7em -10em var(--dino), 7em -6em var(--dino), 7em -7em var(--dino), 7em -8em var(--dino),
    7em -9em var(--dino), 8em -10em var(--dino), 8em -6em var(--dino), 8em -7em var(--dino), 8em -8em var(--dino), 8em -9em var(--dino), 9em -10em var(--dino), 9em -6em var(--dino),
    9em -7em var(--dino), 9em -8em var(--dino), 9em -9em var(--dino);

  --dino-frame-0-detail:
    -2em 7em var(--dino), -3em -3em var(--dino), 0em 6em var(--dino), 1em 7em var(--dino), 1em 8em var(--dino), 1em 9em var(--dino), 2em 9em var(--dino), 5em -1em var(--dino),
    6em -1em var(--dino);

  --dino-frame-50-detail:
    -2em -4em var(--dino), -2em 6em var(--dino), -3em -4em var(--dino), -3em 9em var(--dino), -4em 7em var(--dino), -4em 8em var(--dino), -4em 9em var(--dino), 2em 6em var(--dino),
    5em 0em var(--dino), 6em 1em var(--dino);
}

@keyframes eye {
  0% {
    box-shadow: var(--eye-frame-open);
  }
  5% {
    box-shadow: var(--eye-frame-closed);
  }
  50% {
    box-shadow: var(--eye-frame-closed);
  }
}

@keyframes mouth {
  0% {
    box-shadow: var(--mouth-frame-open);
  }
  50% {
    box-shadow: var(--mouth-frame-closed);
  }
}

@keyframes ground {
  0% {
    box-shadow: var(--ground-frame-base), var(--ground-frame-0-detail);
  }
  15% {
    box-shadow: var(--ground-frame-base), var(--ground-frame-15-detail);
  }
  30% {
    box-shadow: var(--ground-frame-base), var(--ground-frame-30-detail);
  }
  45% {
    box-shadow: var(--ground-frame-base), var(--ground-frame-45-detail);
  }
  60% {
    box-shadow: var(--ground-frame-base), var(--ground-frame-60-detail);
  }
  75% {
    box-shadow: var(--ground-frame-base), var(--ground-frame-75-detail);
  }
}

@keyframes dino {
  0% {
    box-shadow: var(--dino-frame-base), var(--dino-frame-0-detail);
  }
  50% {
    box-shadow: var(--dino-frame-base), var(--dino-frame-50-detail);
  }
}


@keyframes jump {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10em);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.animation {
  font-size: .3rem;
  position: absolute;
  bottom: 4.5rem;

  @media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    display: none;
  }
}

.animation.jump {
  animation: jump 500ms cubic-bezier(0.2, 0.7, 0.3, 1);
}

.animation > div {
  background: var(--dino);
  position: absolute;
  width: .6em;
  height: .6em;
}

.dino,
.eye,
.mouth,
.ground {
  animation: var(--anim-name) var(--anim-duration) steps(1) infinite both;
}

.dino {
  --anim-name: dino;
  --anim-duration: 0.25s;
}

.eye {
  --anim-name: eye;
  --anim-duration: 2s;
}

.mouth {
  --anim-name: mouth;
  --anim-duration: 2s;
}

.ground {
  --anim-name: ground;
  --anim-duration: 0.5s;
}
